.bg {
    /* The image used */
    background-image: url('../img/sunset.jpg');
  
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered {
    /* Center and scale the text nicely */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }