.bg {
  /* The image used */
  background-image: url("../img/sunset.jpg");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centeredName {
  /* Center and scale the text nicely */
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -85%);
  font-size: 40px;
  font-family: Arial, sans-serif;
}
.centeredDescription {
  /* Center and scale the text nicely */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  font-size: 50px;
  font-family: "Times New Roman", Arial, sans-serif;
}

/* mobile devices */
@media (max-width: 600px) {
  .centeredName {
    font-size: 100%;
  }
  .centeredDescription {
    font-size: 100%;
  }
}